@{ 
    this.ViewData["Title"] = "Create outbound messages";
}

@using BMS.Models;
@model MessageInputModel
<div class="col">
    <form id="ldmForm" asp-controller="Messages" asp-action="OutboundLDM">
        <div class="form-group">
            <label asp-for="@Model.Message">Outbound LDM:</label>
            <textarea asp-for="@Model.Message"class="form-control w-100" rows="7"></textarea>
            <span asp-validation-for="@Model.Message"></span>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>
<br />
<hr />
<br />
<div class="col">
    <form id="cpmForm" asp-controller="Messages" asp-action="OutboundCPM">
        <div class="form-group">
            <label asp-for="@Model.Message">Outbound CPM:</label>
            <textarea asp-for="@Model.Message" class="form-control w-100" rows="7"></textarea>
            <span asp-validation-for="@Model.Message"></span>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>
<br />
<hr />
<br />
<div class="col">
    <form id="ucmForm" asp-controller="Messages" asp-action="OutboundUCM">
        <div class="form-group">
            <label asp-for="@Model.Message">Outbound UCM:</label>
            <textarea asp-for="@Model.Message" class="form-control w-100" rows="7"></textarea>
            <span asp-validation-for="@Model.Message"></span>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>
<br />
<hr />
<br />
