@using BMS.Models;
@model WeightFormInputModel
@{
    ViewData["Title"] = "Add weight form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <form asp-controller="FuelAndWeight" asp-action="RegisterWeightForm">
        <div class="form-row">
            <div class="col form-group">
                <input asp-for="@Model.FlightNumber" class="form-control" placeholder="Flight number"/>
                <span asp-validation-for="@Model.FlightNumber"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col form-group">
                <input asp-for="@Model.MaximumZeroFuelWeight" class="form-control" placeholder="MZFW"/>
                <span asp-validation-for="@Model.MaximumZeroFuelWeight"></span>
            </div>
            <div class="col form-group">
                <input asp-for="@Model.AircraftBasicWeight" class="form-control" placeholder="ABW" />
                <span asp-validation-for="@Model.AircraftBasicWeight"></span>
            </div>
        </div>
        <div class="form-row">
                <div class="col form-group">
                    <input asp-for="@Model.MaximumLandingWeight" class="form-control" placeholder="MLDW" />
                    <span asp-validation-for="@Model.MaximumLandingWeight"></span>
                </div>
            <div class="col form-group">
                <input asp-for="@Model.MaximumTakeoffWeight" class="form-control" placeholder="MTOW"/>
                <span asp-validation-for="@Model.MaximumTakeoffWeight"></span>
            </div>
           </div>
        <button type="submit" class="btn btn-lg btn-primary w-100">Submit</button>
    </form>

