@using  BMS.Models
@model LoginUserInputModel
<div class="col">
    <button id="loginButton" class="btn" style="color:#040e11; background-color:#367585; border-radius:20px; width:200px;" onclick="showHideLoginForm()">Display</button>
    <form id="loginForm" asp-controller="Account" asp-action="Login" style="display:none">
        <br />
        <div class=form-group>
            <label asp-for="@Model.UserName">Username</label>
            <input asp-for="@Model.UserName" class="form-control" style="width:200px" />
            <span asp-validation-for="@Model.UserName"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Password">Password</label>
            <input asp-for="@Model.Password" class="form-control" style="width:200px" />
            <span asp-validation-for="@Model.Password"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input asp-for="@Model.RememberMe" class="form-check-label"/>
            </label>
        </div>
        <button type="submit" class="btn" style="color:#040e11; background-color:#367585; border-radius:20px; width:200px; font-size:20px">Login</button>
    </form>
</div>
<script src="~/js/ShowHideLoginForm.js"></script>