@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using BMS.Models;
@model RegisterUserInputModel
<div class="row">
    <div class="col" style="right:-450px">
        <button id="registerButton" class="btn" style="color:#040e11; background-color:#367585; border-radius:20px; width:200px;" onclick="showHideRegisterForm()">Display</button>
        <form id="registerForm" asp-controller="Account" asp-action="Register" style="display:none">
            <br />
            <div class="form-group">
                <label asp-for="@Model.UserName">Username</label>
                <input asp-for="@Model.UserName" class="form-control" style="width:200px" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Password">Password</label>
                <input asp-for="@Model.Password" class="form-control" style="width:200px" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.ConfirmPassword">Confirm password</label>
                <input asp-for="@Model.ConfirmPassword" class="form-control" style="width:200px" />
            </div>
            <button type="submit" class="btn" style="color:#040e11; background-color:#367585; border-radius:20px; width:200px; font-size:20px">Register</button>
        </form>
    </div>
</div>
<script src="~/js/ShowHideRegisterForm.js"></script>